a {
    text-decoration: none;
  }
  
  body {
    width: 95%;
    max-width: 992px;
    margin: auto;
    font-size: 18px;
    line-height: 1.2em;
    background-color: rgb(246, 246, 239, 0.20);
  }
  
  li {
    list-style: none;
    margin-top: 1em;
  }
  
  header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 102, 0);
  }

  html {
    font-family: 'Times New Roman', serif;
  }
  
  .article {
    position: relative;
    top: 0;
    display: flex;
    flex-direction: row;
    column-gap: 20px;
    background-color: rgb(246, 246, 239, 0.20);
  }

  .article--other {
    transition: all 0.25s ease-in-out;
  }

  .article--other:hover {
    top: -0.5em;
    transition: all 0.25s ease-in-out;
  }
  
  .article--front_page {
    flex-direction: column;
    max-width: 730px;
    margin: auto;
    box-shadow: 0 .25em 1em 0 #9d9d9620;
  }
  
  .article--front_page > .wrap--image {
    min-width: 0;
    max-width: none;
    height: fit-content;
    flex-grow: 0;
    flex-shrink: 0;
  }
  
  .article--front_page > .article__headline {
    font-size: 1.618em;
    line-height: 1.2em;
    opacity: 1.0;
    flex-grow: 0;
    flex-shrink: 0;
  }
  
  .article__headline {
    color: black;
    font-size: 1em;
    line-height: 1.2em;
    opacity: 0.80;
    flex-grow: 3;
    flex-shrink: 1;
    margin-top: 0;
    align-self: center;
  }
  
  .article__image {
    width: 100%;
    height: auto;
  }

  .comment_block__image {
    max-width: 100%;
    max-height:100%;
    text-align: center;
  }

  .form {
    display: flex;
    flex-direction: column;
    gap: 10px; 
  }

  .form__button {
    width: 100%;
    padding: 10px;
    background-color: black;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 1em;
    margin-top: 15px;
  }

  .form__label {
    font-weight: bold;
  }

  .form__input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .grid {
    display: grid;
    grid-template-columns: 1fr;
    column-gap: 20px;
    row-gap: 1em;
  }
  
  .navigation {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: rgb(246, 246, 239);
  }
  
  .navigation__option {
    font-size: 1em;
    line-height: 1.2em;
    color: rgb(255, 102, 0);
    text-decoration: none;
    padding-top: 0.25em;
    padding-bottom: 0.25em;
    padding-left: 0.25em;
    padding-right: 0.25em;
    transition: all 0.25s;
  }

  .navigation__option--selected {
    border-bottom-width: 0.25em;
    border-bottom-color: black;
    border-bottom-style: solid;
  }

  .navigation__option:hover {
    background-color: rgb(255, 102, 0);
    color: rgb(246, 246, 239);
    transition: all 0.25s;
  }

  .signup {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    max-width: 400px;
    width: 100%;
    text-align: center;
    margin: auto;
  }

  .subheading {
    font-size: 2.5em;
    line-height: 1.2em;
    font-weight: bold;
    margin-bottom: 20px;
    text-align: center;
  }
  
  .title {
    margin-bottom: 0.5em;
    font-size: 2.168em;
    line-height: 1.2em;
  }
  
  .trending {
    display: none;
    background-color: rgb(246, 246, 239, 0.20);
  }
  
  .trending__title {
    color: black;
    opacity: 0.50;
    font-weight: 700;
  }
  
  .trending__repo {
    box-sizing: border-box;
    color: black;
    opacity: 0.40;
    text-decoration: none;
    width: 100%;
    display: inline-block;
    border-style: solid;
    border-width: 0.25em;
    border-color: rgb(246, 246, 239, 0.20);
    transition: all 0.15s ease-in-out
  }

  .trending__repo:hover {
    opacity: 0.7;
    border-right-color: black;
    transition: all 0.15s ease-in-out;
  }
  
  .wrap {
    flex-grow: 1;
    display: flex;
    flex-direction: row;
  }

  .wrap--comment_block {
    align-items: center;
    justify-content: center;
  }
  
  .wrap--front {
    column-gap: 0;
    margin-bottom: 1.0em;
  }
  
  .wrap--image {
    justify-content: center;
    flex-grow: 1;
    flex-shrink: 3;
    min-width: 100px;
    max-width: 100px;
    height: fit-content;
  }
  
  .wrap--navigation {
    justify-content: space-around;
  }
  
  @media only screen and (min-width:480px)
  {
    .article {
      flex-direction: column;
      row-gap: 0.5em;
    }
  
    .grid {
      grid-template-columns: 1fr 1fr;
    }
  
    .article__headline {
      flex-grow: 0;
      flex-shrink: 0;
    }
  
    .wrap--image {
      min-width: 0;
      max-width: none;
      height: fit-content;
      flex-grow: 0;
      flex-shrink: 0;
    }
  }
  
  @media only screen and (min-width:768px)
  {
    .grid {
      grid-template-columns: 1fr 1fr 1fr
    }

    .subheading {
      font-size: 3em;
      line-height: 1.2em;
    }

    .signup {
      max-width: 600px;
      padding: 30px;
    }
  }
  
  @media only screen and (min-width:992px)
  {
    .wrap--front {
      column-gap: 20px;
    }
  
    .trending {
      display: block;
      flex-grow: 1;
      flex-shrink: 0;
    }
  
    .article--front_page {
      flex-grow: 3;
      flex-shrink: 1;
    }
  }